<div class="content" role="main">
  <h2>Logs</h2>
  <div *ngIf="todosFacadeService.todosLoaded$ | async">
    <div *ngFor="let item of todosFacadeService.todos$ | async">
      <p (click)="deleteTodo(item.id)">{{item.id}}: {{item.title}}</p>
    </div>
  </div>
  <div *ngIf="!(todosFacadeService.todosLoaded$ | async)">
    <p>Loading...</p>
  </div>
  <div class="mt-3 w-full">
    <form [formGroup]="form" class="flex flex-col gap-3">
      <div>
        <app-input title="Title" [type]="'text'" formControlName="title" [parentForm]="form" />
      </div>
      <!-- <form-field>
        <label flowbiteLabel>Title</label>
        <input formControlName="title" type="text" flowbiteInput />
      </form-field> -->
      <flowbite-button [class]="'w-full'" [disabled]="disabledSubmitForm()" (click)="submitForm()">
        <span>New Log</span>
      </flowbite-button>
    </form>
  </div>
</div>