<div class="content" role="main">
  <h2>Logs</h2>
  <div *ngIf="todosFacadeService.todosLoaded$ | async">
    <div *ngFor="let item of todosFacadeService.todos$ | async">
      <p (click)="deleteTodo(item.id)">{{item.id}}: {{item.title}}</p>
    </div>
  </div>
  <div *ngIf="!(todosFacadeService.todosLoaded$ | async)">
    <p>Loading...</p>
  </div>
  <div class="mt-3 w-full">
    <flowbite-button [class]="'w-full'" (click)="createTodo()">
      <span>New Log</span>
    </flowbite-button>
  </div>
</div>